{% if pageCount > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="list-style-none flex">
            {% if previous is defined %}
                <li>
                    <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition
                       duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700
                       focus:outline-none active:bg-neutral-100 active:text-primary-700 dark:text-white
                       dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:focus:text-primary-500
                       dark:active:bg-neutral-700 dark:active:text-primary-500"
                    rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">Previous</a>
                </li>
            {% else %}
                <li>
                    <a class="pointer-events-none relative block rounded bg-transparent px-3 py-1.5
                        text-sm text-surface/50 transition duration-300 dark:text-neutral-400"
                    >Previous</a>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li>
                        <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition
                        duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700
                        focus:outline-none active:bg-neutral-100 active:text-primary-700 dark:text-white
                        dark:hover:bg-neutral-700 dark:focus:bg-neutral-700  dark:focus:text-primary-500
                        dark:active:bg-neutral-700 dark:active:text-primary-500"
                        href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li aria-current="page">
                        <a class="relative block rounded bg-primary-100 px-3 py-1.5 text-sm font-medium text-primary-700
                        transition duration-300 focus:outline-none dark:bg-slate-900 dark:text-primary-500"
                        >{{ page }}
                            <span class="absolute -m-px h-px w-px overflow-hidden whitespace-nowrap
                            border-0 p-0 [clip:rect(0,0,0,0)]">(current)</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if next is defined %}
                <li>
                    <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition
                       duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700
                       focus:outline-none active:bg-neutral-100 active:text-primary-700 dark:text-white
                       dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:focus:text-primary-500
                       dark:active:bg-neutral-700 dark:active:text-primary-500"
                       rel="prev" href="{{ path(route, query|merge({(pageParameterName): next})) }}">Next</a>
                </li>
            {% else %}
                <li>
                    <a class="pointer-events-none relative block rounded bg-transparent px-3 py-1.5
                        text-sm text-surface/50 transition duration-300 dark:text-neutral-400"
                    >Next</a>
                </li>
            {% endif %}
{% endif %}