{% extends "home/base_home.html.twig" %}

{% block title %}Kilian-au{% endblock %}

{% block body %}


<div class="container m-auto  max-w-screen-xl justify-center align-items-center p-2">
    <!-- Heading & PFP -->
    <div class="grid grid-cols-1 sm:grid-cols-2 mb-16 mt-4 drop-shadow-lg gap-4">
        <!-- Heading -->
        <div class="container max-w-7xl flex-col p-2 m-auto">
            <h1 class="mb-4 text-3xl font-mono font-bold text-gray-800 dark:text-white md:text-5xl lg:text-6xl">
                <span class="text-transparent bg-clip-text bg-gold-tips-400">
                    Kilian Audroin
                </span>
                <br>
                Web Developer
            </h1>
            <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
                Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.
            </p>
        </div>
        <!-- PFP -->
        <div class="container p-2 w-auto flex sm:justify-end justify-center">
            <img
                    class="object-contain rounded-lg w-64 md:w-80 "
                    src="{{ asset('build/images/profile-pic-ki.jpg') }}" alt="A profile picture">
        </div>
    </div>


    <div class="grid grid-cols-1  lg:grid-cols-2 w-auto place-items-center gap-4">
        <twig:CardProject title="test"
                          image="{{ asset('build/images/Kiconyellow.png') }}"
                          url="test"
                          description="test test test test test test test test test test test test test test test test test test "
                          redirect="test"
                          techno="test"
                          class="klass"
        />
        <twig:CardProject title="test"
                          image="{{ asset('build/images/Kiconyellow.png') }}"
                          url="test"
                          description="test test test test test test test test test test test test test test test test test test "
                          redirect="test"
                          techno="test"
                          class="klass"
        />
        <twig:CardProject title="test"
                          image="{{ asset('build/images/Kiconyellow.png') }}"
                          url="test"
                          description="test test test test test test test test test test test test test test test test test test "
                          redirect="test"
                          techno="test"
                          class="klass"
        />
        <twig:CardProject title="test"
                          image="{{ asset('build/images/Kiconyellow.png') }}"
                          url="test"
                          description="test test test test test test test test test test test test test test test test test test "
                          redirect="test"
                          techno="test"
                          class="klass"
        />
    </div>
</div>

{% endblock %}
