{% extends "base.html.twig" %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}

<section class="mb-6">
    <div class="container-fluid h-full px-6 py-24">
        <div
                class="flex h-full flex-wrap items-center justify-center lg:justify-between">
            <!-- Left column container with background-->
            <div class="mb-12 md:mb-0 md:w-8/12 lg:w-6/12">
                <img
                        src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                        class="w-full"
                        alt="Phone image" />
            </div>

            <!-- Right column container with form -->
            <div class="md:w-8/12 lg:ms-6 lg:w-5/12">
                <!-- Already connected -->
                {% if app.user %}
                    <div class="mb-6 bg-sky-300 border-l-4 border-sky-500 text-sky-700 p-2 rounded-lg">
                        <p>Vous êtes déjà connecté en tant que : {{ app.user.userIdentifier }}
                            <a href="{{ path('app_logout') }}"
                               class="flex mx-auto mt-2">
                                <button
                                        type="button"
                                        class="inline-block rounded bg-blue-700 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                                    {{ 'app.connect.logout'|trans }}
                                </button>
                            </a>
                        </p>
                    </div>
                {% endif %}

                <form name="reset_password_form" method="post">
                    {{ form_start(passForm) }}
                    <h1 class="mb-6 text-lg text-blue-900">
                        {{ 'app.password.chosenewpwd'|trans }}
                    </h1>
                    <!-- Email input -->
                    <div class="relative z-0 w-full mb-5 group" >
                        <input
                                type="password"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                id="password"
                                name="{{ field_name(passForm.password) }}" required placeholder="" value="{{ field_value(passForm.password) }}"/>
                        <label
                                for="password"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >{{ 'app.password.newpwd'|trans }}
                        </label>
                    </div>

                    {% if not passForm.vars.valid %}
                        <div class="alert alert-danger mb-6 bg-red-300 border-l-4 border-red-500 text-red-700 p-2 rounded-lg">
                            <p class="text-lg font-semibold">Erreurs :</p>
                            <p>{{ form_errors(passForm.password) }}</p>
                        </div>
                    {% endif %}

                    <!-- Submit button -->
                    <button
                            type="submit"
                            class="my-3 flex bg-blue-600 w-full items-center justify-center rounded px-7 pb-2.5 pt-3 text-center text-sm font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-blue-500 hover:shadow-neutral-2  active:bg-neutral-600 active:shadow-neutral-700 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong" >
                        {{ 'app.password.confirm'|trans }}
                    </button>
                    {{ form_rest(passForm) }}
                    {{ form_end(passForm) }}
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}
